.text{
    float: right;
    width: 50%;
}
.text{
    font-size: 22px;
    text-align: justify;
    width: 60%;
    float: left;
}
.image{
    float: left;
}
img{
    margin-left: 10px;

    width: 80%;
}